/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #535353;
    color: #ffffff 
}

header {
    background-color: #b4a911;
    color: white;
    padding: 10px 0;
    text-align: center;
}

h1 {
    margin: 0;
}

.perfil {
    text-align: center;
    margin-top: 20px;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

h2 {
    margin: 10px 0;
}

section {
    margin: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
}

a {
    color: #0f12b6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Estilos para las secciones */
.hobbies, .social-media, .video {
    margin: 20px auto;
    max-width: 600px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #333;
}

.video iframe {
    width: 100%;
    height: auto;
    max-width: 560px;
    height: 315px;
}
